.about {
  padding: 80px 0;
  margin: 0 auto;
  background: #ffffff;
  transition: ease 0.5s;
}

@media screen and (max-width: 768px) {
  .about {
    padding: 40px 0;
  }
}

.about__wrapper {
  display: flex;
  margin: 0 216px 0 104px;
  transition: ease 0.5s;
}

@media screen and (max-width: 1100px) {
  .about__wrapper {
    margin: 0 108px 0 52px;
  }
}

@media screen and (max-width: 768px) {
  .about__wrapper {
    margin: 0 40px 0 60px;
  }
}

@media screen and (max-width: 600px) {
  .about__wrapper {
    margin: 0 20px 0 30px;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 320px) {
  .about__wrapper {
    margin: 0 16px 0 16px;
  }
}

.about__photo {
  border-radius: 1000px;
  width: 464px;
  height: 464px;
  transition: ease 0.5s;
}

@media screen and (max-width: 1100px) {
  .about__photo {
    width: 324px;
    height: 324px;
  }
}

@media screen and (max-width: 768px) {
  .about__photo {
    padding-top: 60px;
    width: 232px;
    height: 232px;
  }
}

@media screen and (max-width: 600px) {
  .about__photo {
    width: 272px;
    height: 272px;
  }
}

.about__info {
  display: flex;
  flex-direction: column;
  margin-left: 56px;
  transition: ease 0.5s;
}

@media screen and (max-width: 600px) {
  .about__info {
    margin-left: 0px;
  }
}

.about__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  text-align: left;
  margin: 0 0 24px 0;
  transition: ease 0.5s;
}

@media screen and (max-width: 1100px) {
  .about__title {
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 16px 0;
  }
}

@media screen and (max-width: 600px) {
  .about__title {
    margin: 24px 0 16px 0;
  }
}

.about__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  text-align: left;
  margin: 0 0 12px 0;
}
