.navigation__menu {
  list-style: none;
  display: flex;
  margin-top: 16px;
  margin-bottom: 0;
  padding: 0;
  align-items: baseline;
}

@media screen and (max-width: 768px) {
  .navigation__menu {
    margin-top: 0px;
  }
}

.navigation__menu-item {
  margin-right: 32px;
  display: flex;
  align-items: center;
}

.navigation__menu-item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .navigation__menu-item {
    margin-right: 16px;
  }
}

.navigation__menu-link {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  cursor: url('../../images/cursor.svg'), auto;
  transition: opacity 0.5s ease;
}

@media screen and (max-width: 768px) {
  .navigation__menu-link {
    font-size: 16px;
  }
}

.navigation__menu-link:hover {
  opacity: 0.6;
}
.navigation__menu-link_theme_white {
  color: #1a1b22;
}

.navigation__menu-link_active {
  border-bottom: 3px white solid;
  padding-bottom: 29px;
}

@media screen and (max-width: 768px) {
  .navigation__menu-link_active {
    border-bottom: 3px white solid;
    margin-top: 20px;
    padding-bottom: 18px;
  }
}

.navigation__menu-link_active_theme_white {
  border-bottom: 3px black solid;
}

.navigation__menu-button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  cursor: url('../../images/cursor.svg'), auto;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 12px;
  margin: 0;
  outline: none;
  background: transparent;
  transition: opacity 0.5s;
}
.navigation__menu-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .navigation__menu-button {
    font-size: 16px;
  }
}

.navigation__menu-button_theme_white {
  border: 1px solid #1a1b22;
  color: #1a1b22;
}

.navigation__mobile-button {
  background-image: url('../../images/mobile-menu_open-button.png');
  background-position: center;
  background-repeat: no-repeat;
  outline: none;
  border: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
  margin: 16px 0;
}

.navigation__mobile-button_theme_white {
  background-image: url('../../images/mobile-menu_open-button_white.png');
}
