.navigation__menu {
  list-style: none;
  display: flex;
  margin-top: 16px;
  margin-bottom: 0;
  padding: 0;
  align-items: baseline;
}

.navigation__menu-item {
  margin-right: 32px;
  display: flex;
  align-items: center;
}

.navigation__menu-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  cursor: url('../../images/cursor.svg'), auto;
}
.navigation__menu-link_theme_white {
  color: #1a1b22;
}

.navigation__menu-link_active {
  border-bottom: 3px white solid;
  padding-bottom: 29px;
}
.navigation__menu-link_active_theme_white {
  border-bottom: 3px black solid;
}

.navigation__menu-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  cursor: url('../../images/cursor.svg'), auto;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 12px;
  margin: 0;
  outline: none;
  background: transparent;
}

.navigation__menu-button_theme_white {
  border: 1px solid #1a1b22;
  color: #1a1b22;
}
