.search__form {
  max-width: 608px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 768px) {
  .search__form {
    max-width: 448px;
  }
}
@media screen and (max-width: 470px) {
  .search__form {
    max-width: 288px;
  }
}

.search__input {
  width: 608px;
  height: 64px;
  background: #ffffff;
  border: 1px solid #d1d2d6;
  box-sizing: border-box;
  backdrop-filter: blur(8px);
  border-radius: 100px;
  outline: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  padding-left: 24px;
}

@media screen and (max-width: 768px) {
  .search__input {
    width: 448px;
    height: 56px;
  }
}

@media screen and (max-width: 470px) {
  .search__input {
    width: 288px;
    height: 56px;
  }
}
.search__button {
  position: absolute;
  right: 0;
  top: 0;
  background: #2f71e5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  height: 64px;
  width: 168px;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s;
}

@media screen and (max-width: 768px) {
  .search__button {
    height: 56px;
    width: 160px;
  }
}

@media screen and (max-width: 470px) {
  .search__button {
    height: 56px;
    width: 288px;
    position: unset;
    margin-top: 16px;
  }
}
.search__button:hover {
  cursor: url('../../images/cursor.svg'), auto;
  background: #347eff;
}
.search__button:active {
  background: #2a65cc;
}
.search__input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #b6bcbf;
}

.search__button-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
