.popup__caption:first-of-type {
  margin: 22px 0 0 36px;
}

.popup__caption {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #2f71e5;
  margin: 13px 0 0 36px;
}

@media screen and (max-width: 400px) {
  .popup__caption {
    margin: 22px 0 0 16px;
  }
}

.popup__input {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  max-width: 358px;
  height: 14px;
  outline: none;
  border: 0;
  margin: 9px 0 0 36px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 400px) {
  .popup__input {
    margin: 9px 0 0 16px;
    max-width: 288px;
  }
}

.popup__input:focus {
  border-bottom: 1px solid #000000;
}

.popup__input::placeholder {
  opacity: 0.2;
}

.popup__input-error {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  margin: 0 0 0 36px;
}
.popup__action-error {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  margin: 15px auto 0;
}
