.header {
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

.header_theme_white {
  background: #ffffff;
  box-shadow: inset 0px -1px 0px #d1d2d6;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 104px;
}

.header__title {
  margin: 30px 0 0 0;
}

.header__link {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}

.header__link:hover {
  cursor: url('../../images/cursor.svg'), auto;
}

.header__link_theme_white {
  color: #1a1b22;
}
