.header {
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 30px 104px 26px 104px;
}

.header__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.header__menu {
  list-style: none;
  display: flex;
}

.header__menu-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-right: 32px;
}

.header__menu-item:last-of-type {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 100px;
}
