.no-results {
  background: #f5f6f7;
  padding: 80px 0;
}

.no-results__image {
  width: 96px;
  height: 96px;
  margin: 0 auto;
  display: block;
}

.no-results__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #1a1b22;
  margin: 32px auto 0;
}

.no-results__text {
  max-width: 356px;
  margin: 16px auto 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #b6bcbf;
}
