.footer {
  display: flex;
  justify-content: space-between;
  padding: 32px 104px 26px;
}
.footer__wrapper {
  display: flex;
  align-items: center;
}
.footer__copyright {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
  margin: 0;
}

.footer__menu {
  list-style: none;
  display: flex;
  margin: 0;
}

.footer__menu-item:last-of-type {
  margin-left: 30px;
}

.footer__menu-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #1a1b22;
  text-decoration: none;
}

.footer__menu-link {
  cursor: url('../../images/cursor.svg'), auto;
}

.footer__social-media {
  margin-left: 42px;
}
.footer__link-image {
  width: 20px;
  height: 20px;
}
.footer__social-media-link {
  cursor: url('../../images/cursor.svg'), auto;
}
.footer__social-media-link:last-child {
  margin-left: 28px;
}
