.footer {
  display: flex;
  justify-content: space-between;
  padding: 32px 104px 26px;
  background: #ffffff;
}

@media screen and (max-width: 900px) {
  .footer {
    padding: 24px 40px 18px;
  }
}

@media screen and (max-width: 740px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 440px) {
  .footer {
    padding: 20px 16px;
  }
}
.footer__wrapper {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 740px) {
  .footer__wrapper {
    justify-content: space-between;
  }
}

@media screen and (max-width: 440px) {
  .footer__wrapper {
    align-items: unset;
  }
}

.footer__copyright {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
  margin: 0;
}

@media screen and (max-width: 740px) {
  .footer__copyright {
    order: 3;
  }
}

@media screen and (max-width: 440px) {
  .footer__copyright {
    margin-top: 38px;
  }
}

.footer__menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 740px) {
  .footer__menu {
    flex-direction: column;
  }
}
.footer__menu-item:last-of-type {
  margin-left: 30px;
}
@media screen and (max-width: 900px) {
  .footer__menu-item:last-of-type {
    margin-left: 25px;
  }
}
@media screen and (max-width: 740px) {
  .footer__menu-item:last-of-type {
    margin-left: 0;
  }
}
.footer__menu-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #1a1b22;
  text-decoration: none;
  cursor: url('../../images/cursor.svg'), auto;
}
@media screen and (max-width: 440px) {
  .footer__menu-link {
    line-height: 48px;
  }
}
.footer__social-media {
  margin-left: 42px;
}
@media screen and (max-width: 900px) {
  .footer__social-media {
    margin-left: 30px;
  }
}
.footer__link-image {
  width: 20px;
  height: 20px;
}
.footer__social-media-link {
  cursor: url('../../images/cursor.svg'), auto;
}
.footer__social-media-link:last-child {
  margin-left: 28px;
}
