.news-card-list {
  background: #f5f6f7;
  padding: 62px 106px 62px 104px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 576px;
  gap: 16px;
  transition: ease 0.5s;
}

@media screen and (max-width: 1280px) {
  .news-card-list {
    padding: 62px 40px 62px 40px;
  }
}
@media screen and (max-width: 900px) {
  .news-card-list {
    padding: 32px 40px 22px 40px;
    gap: 8px;
    grid-template-rows: 480px;
  }
}
@media screen and (max-width: 768px) {
  .news-card-list {
    grid-template-rows: 420px;
  }
}

@media screen and (max-width: 750px) {
  .news-card-list {
    grid-template-columns: 1fr 1fr;
    padding: 32px 22px;
    grid-template-rows: 480px;
  }
}

@media screen and (max-width: 510px) {
  .news-card-list {
    grid-template-columns: 1fr;
    grid-template-rows: 576px;
  }
}

@media screen and (max-width: 320px) {
  .news-card-list {
    padding-top: 0;
    grid-template-rows: 576px;
    grid-template-rows: 440px;
    padding: 32px 16px;
  }
}
